.card-dimensions {
  width: 20%;
  height: 45vh;
  margin: 2%
}

.card-font, .footer-info {
  font-size: 0.8em;
  font-family: 'Playfair Display', serif;
}

.card-product-name, .footer-titles {
  font-size: 1.5rem;
  font-family: 'Dancing Script', cursive;
}

.img-styling {
  object-fit: contain;
  height: 50%;
  padding: 10px;
}

.product-details {
  height: 80vh;
}
.product-details-head {
  height: 10%;
}

.product-details-image {
  width: 100%;
  object-fit: contain;
  margin-top: 10px;
  box-shadow: 0 6px 20px 0 rgba(255, 235, 253, 1);
}

.product-details-info * {
  margin-top: 5%;
  text-align: center;
}

.cart-item-container {
  background-color: white;
  height: 30vh;
  box-shadow: 0 6px 20px 0 rgba(255, 235, 253, 1)
}

.cart-summary-img-styling {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.cart-item-border {
  border: 2px solid grey;
  margin: 20px
}

.checkout-container{
  height: 800px;
}

.checkout-content {
  width: 60%;
  height: 90%;
}

.checkout {
  width: 100%;
  margin-top: 15px;
}

.checkout-inputs{
  width: 100%;
}

body {
  background-color: beige;
}

.logo {
  height: 100%;
}

.logo:hover {
  cursor: pointer;
}

.logo-container {
  height: 10vh;
}


.header-top {
  background-color: rgb(255, 235, 253);
  height: 12vh;
}

.header-content {
  width: 30%
}

.website-header {
  font-family: 'Dancing Script', cursive;
}

.nav {
  text-align: center;
  margin: 15px;
}

.nav:hover {
  cursor: pointer;
  border-bottom: 2px solid green;
  color: darkgreen;
}

.header-divider, .footer-divider {
  height: 1vh;
  border-top: 2px solid green;
  border-bottom: 2px solid green;
}

.short-divider {
  height: 1vh;
  border-top: 3px solid green;
  opacity: 30%;
}

.carousel-container {
  height: 65vh;
}

.carousel-image-sizing {
  height: 60vh;
  width: 100%;
  object-fit: cover;
}

.carousel-arrows {
  margin: 10px;
  opacity: 30%;
}

.carousel-arrows:hover {
  opacity: 90%;
}

.carousel-circle-box {
  height: 3vh;
}

.openCircle {
  margin: 3px;
  height: 12px;
  width: 12px;
  border: 2px solid green;
  border-radius: 50%;
}

.closedCircle {
  margin: 3px;
  height: 12px;
  width: 12px;
  border: 2px solid green;
  background-color: pink;
  border-radius: 50%;
}

.sales-section {
  font-family: 'Dancing Script', cursive;
}

.sales-section-title {
  font-size: 3rem;
}

.sales-section-instructions {
  font-size: 1.5rem;
}

.flower-text {
  color: pink;
}

.stem-text {
  color: green;
}

.font-styling {
  font-family: 'Dancing Script', cursive;
}

.about-title {
  font-size: 3rem;
}
.about-us-image-sizing {
  height: 30vh;
  width: 100%;
}

.about-us-text, .contact-text, .contact-us, .checkout-font {
  font-family: 'Playfair Display', serif;
}

.social-media:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.flower-quote, .flower-info-text {
  font-family: 'Playfair Display', serif;
}

.footer {
  width: 100%;
  height: 25vh;
  background-color: rgb(255, 235, 253);
}

.fa-bars {
  display: none
}

.all {
  padding: 0;
}

.dropdown-text {
  border-bottom: 2px solid green;
}

.cart:hover {
  cursor: pointer;
  border-bottom: 2px solid green;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 6px 20px 0 rgba(255, 235, 253, 1);
  transform: scale(1.05);
}

.our-story-text:hover {
  cursor: pointer;
}

.cart-summary-container {
  min-height: 70vh;
}

.btn-pink {
  font-family: 'Dancing Script', cursive;
  font-size: 1em;
  color: black;
  background-color: rgb(255, 235, 253);
  border: 1px solid black;
}

.btn-pink:hover {
  background-color: rgb(247, 214, 244);
}

.success {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5em;
  border: 1px solid black;
}

.flower-name {
  font-size: 3em;
}

.flower-info-text {
    text-align: center;
  }

.remove {
  font-size: 1.2em;
}

.checkout-box {
  display: flex;
  justify-content: space-between;
}

.my-cart-heading {
  font-size: 3em;
  border-bottom: 3px solid rgb(0,128,0, 0.5);
  padding-bottom: 25px;
}

.checkout-heading {
  font-size: 3em;
  text-align: center;
  border-bottom: 3px solid rgb(0,128,0, 0.5);
  padding-bottom: 25px;
}

.final-order-total {
  text-align: center;
}

.continue-shopping-size {
  font-size: 1em;
}

.error-message {
  color: red;
}

@media only screen
and (max-device-width: 500px) {
  .card-dimensions {
    width: 100%;
  }

  .cost {
    display: none;
  }

  .fa-shopping-cart {
    font-size: 1.3em;
  }

  .logo {
    height: 80%;
  }

  .logo-container {
    align-items: center;
  }

  .nav {
    display: none;
  }

  .fa-bars {
    display: inline-block;
  }

  .fixed {
    position: absolute;
    border: 2px solid green;
    background-color: rgb(255, 235, 253);
    z-index: 1000;
    width: 150px;
    text-align: center;
    left: 0;
  }

  .header-content {
    width: 10%;
  }

  .carousel-circle-box {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .footer {
    height: 30vh;
    text-align: center;
  }

  .about-title {
    text-align: center;
  }

  .about-us-image-container {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .about-us-text {
    margin-top: 20px;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .thank-you {
    text-align: center;
  }

  .social-media {
    margin: 5px;
  }

  .contact-icons {
    font-size: 5em;
  }

  .contact-containers {
    margin-top: 15px;
  }

  .contact-end {
    margin-bottom: 50px;
  }

  .product-detail-image-container {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .product-details-info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .product-details-container {
    height: 1000px;
  }

  .cart-item-container {
    flex-wrap: wrap;
    height: 90vh;
  }

  .cart-summary-image-container {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .checkout-box {
    display: block;
    text-align: center;
  }

  .place-order-container {
    flex-wrap: wrap;
  }
}

.quantity-input {
  width: 50px;
}

.quantity-changer {
  width: 30px;
  background-color: rgb(255, 235, 253);
}

.quantity-changer:hover {
  cursor: pointer;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media only screen
and (min-device-width: 501px)
and (max-device-width: 750px) {
  .card-dimensions {
    width: 45%;
    height: 100vh;
  }

  .cost {
    display: none;
  }

  .fa-shopping-cart {
    font-size: 1.3em;
  }

  .logo {
    height: 50px;
  }

  .logo-container {
    align-items: center;
  }

  .nav {
    display: none;
  }

  .fa-bars {
    display: inline-block;
  }

  .fixed {
    position: absolute;
    border: 2px solid green;
    background-color: rgb(255, 235, 253);
    z-index: 1000;
    width: 150px;
    text-align: center;
    left: 0;
  }

  .header-content {
    width: 15%;
  }

  .carousel-circle-box {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .footer {
    height: 45vh;
    text-align: center;
  }

  .about-title {
    text-align: center;
  }

  .about-us-image-container {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .about-us-image-sizing {
    height: 55vh;
  }

  .about-us-text {
    margin-top: 20px;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .thank-you {
    text-align: center;
  }

  .social-media {
    margin: 5px;
  }

  .contact-icons {
    font-size: 5em;
  }

  .contact-containers {
    margin-top: 15px;
  }

  .contact-end {
    margin-bottom: 50px;
  }

  .product-detail-image-container {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .product-details-info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .product-details-container {
    height: 1000px;
  }

  .cart-item-container {
    flex-wrap: wrap;
    height: 480px;
  }

  .cart-summary-image-container {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }

  .checkout-box {
    display: block;
    text-align: center;
  }

  .place-order-container {
    flex-wrap: wrap;
  }

  .header-top {
    height: 18vh;
  }

  .website-header {
    margin-top: 10px;
  }

  .product-details-image {
    width: 75%
  }

  .cart-summary-img-styling {
    width: 50%;
  }
}

@media only screen
and (min-device-width: 751px)
and (max-device-width: 950px) {
.card-dimensions {
    width: 45%;
    height: 40vh;
  }

  .cost {
    display: none;
  }

  .fa-shopping-cart {
    font-size: 1.3em;
  }

  .logo {
    height: 90px;
  }

  .logo-container {
    align-items: center;
  }

  .nav {
    display: none;
  }

  .fa-bars {
    display: inline-block;
  }

  .fixed {
    position: absolute;
    border: 2px solid green;
    background-color: rgb(255, 235, 253);
    z-index: 1000;
    width: 150px;
    text-align: center;
    left: 0;
  }

  .header-content {
    width: 15%;
  }

  .carousel-circle-box {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .footer {
    height: 20vh;
    text-align: center;
  }

  .about-title {
    text-align: center;
  }

  .about-us-image-container {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .about-us-image-sizing {
    height: 40vh;
  }

  .about-us-text {
    margin-top: 20px;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .thank-you {
    text-align: center;
  }

  .social-media {
    margin: 5px;
  }

  .contact-icons {
    font-size: 5em;
  }

  .contact-containers {
    margin-top: 15px;
  }

  .contact-end {
    margin-bottom: 50px;
  }

  .product-detail-image-container {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .product-details-info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .product-details-container {
    height: 1200px;
  }

  .cart-item-container {
    flex-wrap: wrap;
    height: 550px;
  }

  .cart-summary-image-container {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }

  .checkout-box {
    display: block;
    text-align: center;
  }

  .place-order-container {
    flex-wrap: wrap;
  }

  .header-top {
    height: 12vh;
  }

  .website-header {
    margin-top: 10px;
  }

  .product-details-image {
    width: 60%;
  }

  .cart-summary-img-styling {
    width: 50%;
  }

  .fa-bars {
    font-size: 2em;
  }

  .fa-shopping-cart {
    font-size: 2em;
  }
}

@media only screen
and (min-device-width: 951px)
and (max-device-width: 1050px) {
  .header-top {
    height: 12vh;
  }

  .card-dimensions {
    width: 25%;
  }

  .about-us-image-sizing {
    height: 35vh;
  }

  .cart-item-container {
    height: 300px;
  }
}
